{# esto es un comentario ojo que lo <!-- fallan-->#}
{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            ESTAS EN HOLA MUNDO 2 <br/> el numero es {{numero}}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
