{% extends "base.html.twig" %}
{% block body %}

{# {% if app.user is defined %} #}
{% if app.user != null %}
{{ dump(app.user) }}
{% endif %}	

{% if is_granted('ROLE_USER') %}
	<strong>Bienvenido usuario</strong>
	<a href="{{ path('logout') }}">Cerrar sesion</a>
{% endif %}	

{% if is_granted('ROLE_ADMIN') %}
	<strong>Bienvenido admin</strong>
	<a href="{{ path('logout') }}">Cerrar sesion</a>
{% endif %}	

<form action="{{ path("login_check") }}" method="post">
	<input type="email" name="_username" id="username" value="{{ last_username }}">
	<input type="password" name="_password" id="password">
	<input type="submit" value="Entrar">
	<input type="hidden" name="_target_path" value="/">
</form>

{% endblock %}