<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Titulo de mi web</title>
	<link rel="stylesheet" href="css/bootstrap.css"> <!--llamada css bootstrap-->
	<script href="js/bootstrap.min.js"></script>	<!--llamada bootstrap-->
</head>
<body>
<h1>{{ titulo }}</h1> 
<br/>
<h4><strong>{{ subtitulo }}</strong></h4>
<p>	
	<span>{{ usuario.nombre }},{{ usuario.apellidos|upper }}</span>
	
</p>
{{otra}}
</body>
</html>