<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Titulo de mi web</title>
	<link rel="stylesheet" href="css/bootstrap.css"> <!--llamada css bootstrap-->
	<script href="js/bootstrap.min.js"></script>	<!--llamada bootstrap-->
</head>
<body>
<h1>{{ titulo }}</h1>
	Aqui vendra el texto de la web

	<h2> {{ subtitulo }} </h2>
<p>	
	<span>{{ usuario.nombre }},{{ usuario.apellidos|upper }}</span>
</p>
</body>
</html>