{# Esto es un comentario #}
{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
           
           ESTAS EN HOLA MUNDO 2 - El numero es {{numero}}

        </div>
    </div>
{% endblock %}
