<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block titulo_web %}
	aqui viene el titulo
		{% endblock %}
	</title>
	<link href="css/bootstrap.css" rel="stylesheet" />
	<script href="js/bootstrap.min.js"></script>

</head>
<body>
	<div>
		<header> 
{% block encabezado %}
aqui viene el encabezado
{% endblock %}
			</header>
		<div>{% block contenido %}
		aqui viene el contenido
{% endblock %}	</div>
		<footer>
		{% block pie %}
		todos los derechos reservados - 2017
		{% endblock %}</footer>
	</div>
</body>
</html>