{% extends "base.twig.html" %}

{% block titulo_web %}
	{{ titulo }} - www.miweb.com
{% endblock %}
	
 
{% block encabezado %}
		<h1>{{ titulo }} <strong>{{ subtitulo }}</strong></h1>
{% endblock %}
			
{% block contenido %}
	<p>
		<span>
			{{ imagen.titulo }}
			<br>
			<a href="index.php?p=galeria.php&accion=listado">
			<img src="imagenes/{{ imagen.fichero }}" width="300">
			</a>
		</span>
	</p>
{% endblock %}
	
	
{% block pie %}
<a href="index.php?p=galeria.php">volver</a>
<br/>
{{ parent() }}    {# esto nos peromite recuperar lo que hay en el base#}

{% endblock %}

{# esto es un comentario tipo twig: los comentarios de html dan problemas #}