{% extends "base.twig.html" %}

{% block titulo_web %}
	{{ titulo }} - www.miweb.com
{% endblock %}
	
 
{% block encabezado %}
		<h1>{{ titulo }} <strong>{{ subtitulo }}</strong></h1>
{% endblock %}
			
{% block contenido %}
		<p>
		{% for imagen in imagenes %}
			<section>
				{{ imagen.titulo }}
				<br/>
				<a href="index.php?p=galeria.php&accion=ver&idImagen={{ imagen.id }}">
				<img src="imagenes/{{ imagen.fichero }}" width="300">
				</a>
			</section>
		{% endfor %}
		</p>
{% endblock %}





