*{
	margin: 0px;
	padding: 0px;
}

body{
	text-align: center;
}

#contenedor{
	text-align: left;
	width: 1000px;
	margin: 0px auto;
	border: 1px solid black;
}

#encabezado{
	min-height: 100px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

#menu{
	min-height: 100px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

#principal{
	min-height: 100px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

#principal table{
	border: 1px solid black;
	width: 100%;
}

#principal table td{
	border: 1px solid black;
}

#principal table thead tr:first-child{
	background-color: #F899F7;
}

#principal table tbody tr:nth-child(even){
	background-color: #A499F8;
}

#principal table tbody tr:nth-child(odd){
	background-color: #E7E6F1;
}

#principal table tbody tr td:first-child{
	width: 50%;
}

#principal table tbody tr td:nth-child(2){
	width: 30%;
}



#pie{
	min-height: 100px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

.paginador{
	text-decoration: none;	
}




