{% extends 'base.html.twig' %}

{% block body %}

<h2>Nueva noticia</h2>

{{ form_start(form) }}
{{ form_widget(form.titulo) }}
{{ form_widget(form.contenido) }}
{{ form_widget(form.fecha) }}
{{ form_widget(form.autor) }}
{{ form_widget(form.idcategoria) }}
{{ form_widget(form.save, {'label':'Insertar noticia'}) }}
{{ form_end(form) }}

<a href="{{ path('homepage') }}">Cancelar</a>

{% endblock %}
